---
import { Image } from "astro:assets";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import GradiantText from "../shared/GradiantText.astro";
import myImage from "../../assets/images/dev-with-c-1.webp";
import { philosophy } from "../../utils/data.ts";

type PhilosophyProps = {
  title: string;
  painPoint: string;
  agitatepainPoint: string;
  solution: string;
  img: ImageMetadata;
};

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="philosophy" class=`flex flex-col ${className}`>
  {
    philosophy.map((item: PhilosophyProps, index: number) => {
      const oddIndex = index % 2 === 0;
      const flexRow = oddIndex ? "midmd:flex-row-reverse" : "midmd:flex-row";
      const bgColor = oddIndex
        ? "bg-[#FAF9F5]"
        : "bg-[#F3F1EB]";
      return (
        <div class={`w-100 py-10 md:py-16 ${bgColor}`}>
          <Container className={`flex flex-col gap-10 lg:gap-12 ${flexRow}`}>
            <div class="max-w-md mx-auto w-11/12 flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
              <Title>
                {item.title}
              </Title>
              <Paragraph className="mt-8 font-medium">
                {item.painPoint}
              </Paragraph>
              <Paragraph className="mt-3">
                {item.agitatepainPoint}
              </Paragraph>
              <Paragraph className="mt-3 font-medium">
                {item.solution}
              </Paragraph>
            </div>

            <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
              <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <Image
                  src={item.img}
                  alt="banner image"
                  width="1240"
                  height="1385"
                  class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full rounded-3xl object-cover"
                />
              </div>
            </div>
          </Container>
        </div>
      );
    })
  }
</section>
